<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti41g1.tripreminder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_travel_bag"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_travel_bag"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripReminder">
        <activity android:name=".controller.activity.AddTripActivity"/>
        <activity android:name=".controller.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.HomeActivity" />
        <activity android:name=".controller.activity.LoginActivity" />

        <receiver
            android:name=".Models.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".controller.activity.ActivityForAlert"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <service
            android:name=".controller.services.FloatingViewService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>